#------------------------------------------------
# Config
#------------------------------------------------

# Le serveur doit suivre les liens symboliques
Options +FollowSymlinks

# Activation du  module de reecriture d'url
RewriteEngine on 

#------------------------------------------------
# Regles de reecriture d'url
#------------------------------------------------

RewriteRule ^home$ index.php?view=/home [L]
RewriteRule ^hello$ index.php?view=hello [L]


