#color{
 
    letter-spacing: 0.05em;
    animation: blink 1s step-end infinite;
}
@keyframes blink{
    from,
    to{
        color:transparent;
    }
    50%{
        color: #0066ff;
    }
   
    
}
.texte{
    color: #0000008f;
    margin:0px;
    text-align: center;
    padding-top: 0px;
    font-weight: 700;
    font-size: 16px;
    
}
.substitle{
  
    color: #00000042;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0px;
    margin-top: -5px;
    font-size: 9px;
    letter-spacing: 5px;
}

.bold{
    font-weight:700;
     color:solid black;
     font-family: Century Gothic;
}
.font_family{
    font-family: Century Gothic;
}
.small{
    font-family: cursive;
    font-weight: 100;
    font-style: italic;
}