.traitement{
 
    letter-spacing: 0.05em;
    animation: blink 3s step-end infinite;
}
@keyframes blink {
    from,
    to{
        color: rgba(0, 0, 0, 0);;
    }
    30%{
        color: #4b474771;
    }
    45%{
        color: #75747496;
    }
    65%{
        color: #8d8a8a9c;
    }
    85%{
        color: #ffffffb4;
    }
    95%{
        color: #ffffffb4;
    }
    100%{
        color: #ffffffb4;
    }
     
}
li{
    list-style: none;
    list-style-type: none;
}